{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:jest/all"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "import", "jest"],
  "settings": {
    "import/extensions": [".js", ".ts"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      },
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "import/no-cycle": "off",
    "import/export": "off",
    "import/extensions": "off",
    "import/no-duplicates": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "jest/no-hooks": "off",
    "class-methods-use-this": "off",
    "max-classes-per-file": "off",
    "no-async-promise-executor": "off",
    "no-use-before-define": "off",
    "no-useless-constructor": "off",
    "no-shadow": "off"
  }
}
